<a href="https://colab.research.google.com/github/sknema/reposk/blob/main/AFC_old_file_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_org=pd.read_excel('MiDas.xlsx')

In [ ]:
df_org.tail(10)

      BATCH_KEY  KEY  ...  BP_ADR_LONGITUDE BP_ADR_LATITUDE
1029        NaN  NaN  ...               NaN             NaN
1030        NaN  NaN  ...               NaN             NaN
1031        NaN  NaN  ...               NaN             NaN
1032        NaN  NaN  ...               NaN             NaN
1033        NaN  NaN  ...               NaN             NaN
1034        NaN  NaN  ...               NaN             NaN
1035        NaN  NaN  ...               NaN             NaN
1036        NaN  NaN  ...               NaN             NaN
1037        NaN  NaN  ...               NaN             NaN
1038        NaN  NaN  ...               NaN             NaN

[10 rows x 42 columns]

In [ ]:
col=df_org.columns

In [ ]:
col_null=[]
notnull_col=[]
col_null_any=[]
for k in col:
  if df_org[k].isnull().any() == True:
    col_null_any.append(k)
  if df_org[k].isnull().all() ==True:
    col_null.append(k)
  if df_org[k].notnull().all() == True:
    notnull_col.append(k)

print(col_null)
print(col_null_any)
print(notnull_col)

['BATCH_KEY', 'KEY', 'USECASE_ID', 'TRX_SOURCE_SYSTEM', 'TRX_CP_AMLCOUNTRY_LEVEL ', 'BP_DOMICILECOUNTRY', 'ALERT_VALID_FROM', 'ALERT_VALID_TO', 'HIT_ID', 'INDICATOR_NAME', 'INDICATOR_VALUE', 'INDICATOR_THRESHOLD', 'INDICATOR_SCORE', 'BP_ADR_ADDRESS_ID', 'BP_ADR_TYPE', 'BP_ADR_STREET', 'BP_ADR_STRNR', 'BP_ADR_CITY', 'BP_ADR_PCODE', 'BP_ADR_STATE', 'BP_ADR_COUNTRY', 'BP_ADR_LONGITUDE', 'BP_ADR_LATITUDE']
['BATCH_KEY', 'KEY', 'USECASE_ID', 'TRX_SOURCE_SYSTEM', 'TRX_CP_AMLCOUNTRY_LEVEL ', 'BP_DOMICILECOUNTRY', 'ALERT_ID', 'ALERT_VALID_FROM', 'ALERT_VALID_TO', 'ALERT_CREATION_DATE', 'ALERT_STATUS', 'HIT_ID', 'INDICATOR_ID', 'INDICATOR_NAME', 'INDICATOR_VALUE', 'INDICATOR_THRESHOLD', 'INDICATOR_SCORE', 'BP_ADR_ADDRESS_ID', 'BP_ADR_TYPE', 'BP_ADR_STREET', 'BP_ADR_STRNR', 'BP_ADR_CITY', 'BP_ADR_PCODE', 'BP_ADR_STATE', 'BP_ADR_COUNTRY', 'BP_ADR_LONGITUDE', 'BP_ADR_LATITUDE']
['MANDT_ID', 'MANDT_COUNTRY', 'TRX_TRANSACTION_ID', 'TRX_TYPE', 'TRX_CRDE_FLAG', 'TRX_CRBO_FLAG', 'TRX_CASH_FLAG', 'TRX_CHEQ_FLAG', 'TRX_EXEC_DATE', 'TRX_AMOUNT_EUR', 'TRX_CP_COUNTRY', 'BP_CUSTOMER_ID', 'BP_TYPE', 'ACCT_ID', 'ACCT_TYPE']

In [ ]:
print(len(col_null_any))
print(len(col_null))
print(len(notnull_col))

27
23
15